.page-container.services {
  .list {
    margin: 2rem 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-content: space-around;
    justify-content: center;

    .MuiCard-root {
      width: calc(33% - 1.1rem);
      background-color: white;

      .MuiTypography-h5 {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: 400;
        color: #1A535C;
        position: relative;
        display: flex;

        .name {
          flex-grow: 1;
        }

        .price {
          color: #31AFA7;
        }
      }
    }

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: -1.25rem;
      left: calc(50% - 5rem);
      width: 10rem;
      border-bottom: 2px solid #1A535C;
    }

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: -2rem;
      left: calc(50% - 2rem);
      width: 4rem;
      border-bottom: 2px solid #1A535C;
    }
  }
}
