.home-banner {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 2rem 0 6rem;
  grid-column-gap: 2rem;

  .right {
    text-align: center;
    color: #FF4747;
    font-family: 'Yanone Kaffeesatz', sans-serif;

    .title {
      margin-top: 7rem;
      position: relative;
      margin-bottom: 4rem;
      font-size: 2.5em;
      font-weight: 400;

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: -.5rem;
        left: calc(50% - 5rem);
        width: 10rem;
        border-bottom: 2px solid #FF4747;
      }

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: -1rem;
        left: calc(50% - 2rem);
        width: 4rem;
        border-bottom: 2px solid #FF4747;
      }
    }

    .info {
      color: #1A535C;
    }

    .address {
      font-size: 1.7rem;
      margin-bottom: .5rem;

      .MuiSvgIcon-root {
        margin-bottom: -.1rem;
      }
    }

    .city {
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
    }

    .tell {
      font-size: 1.7rem;
      margin-bottom: .5rem;

      .MuiSvgIcon-root {
        margin-bottom: -.1rem;
      }
    }

    .hours {
      font-size: 1.4rem;
    }
  }
}

#root .MuiAppBar-colorPrimary {
  background-color: #1A535C;

  .MuiToolbar-root {
    display: grid;
    grid-template-columns: auto 1fr auto;


    .logo-box {
      flex-grow: 1;

      .MuiButton-label {
        display: flex;
        align-items: flex-start;

        .logo {
          width: 2rem;
          margin-right: 1rem;
        }
      }
    }

    .right-buttons {
      display: flex;
      gap: 1rem;

      .online {
        .MuiButton-outlined {
          border-color: #FFE66D;
          color: #FFE66D;
        }
      }
    }
  }
}
